doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title react-image-holder
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href="css/app.css", type="text/css")
    link(rel='stylesheet', href="lib/prism/prism.css", type="text/css")

  body

    header
      .title 
        h1 react-image-holder
      .subtitle React image component with offline placeholder fallbacks
      .social
        iframe(src="https://ghbtns.com/github-btn.html?user=hiddentao&repo=react-image-holder&type=star&count=true&size=large", frameborder="0", scrolling="0", width="160px", height="30px")

    main
      .docs

        section
          h2 Installation

          p From the command-line

          pre
            code.language-bash.
              npm install react-image-holder

          p All examples assume you have already imported the module:

          pre
            code.language-js.
              var Img = require('react-image-holder');

        section.example1
          h2 Basic image
          pre.example
            code.language-js.
              &lt;Img src="./img/test1.jpg" /&gt;
          .output

        section.example2
          h2 Extra attributes
          p All additional properties passed into the component get added as attributes to the <code>IMG</code> tag (except for `width` and `height`).
          pre.example
            code.language-js.
              &lt;Img src="./img/test_non_existent.jpg" width="200" height="50" alt="this is the alt text" /&gt;
          .output

        section.example3
          h2 Placeholder
          p You must provide <code>width</code> and <code>height</code> when using a placeholder:
          pre.example
            code.language-js.
              &lt;Img src="./img/test1.jpg" width="400" height="100" usePlaceholder={true} /&gt;
          .output
          
        section.example4
          h2 Placeholder customization
          p You can pass through any of the properties supported by <a href="https://github.com/imsky/holder">holder.js</a>.
          pre.example
            code.language-js.
              &lt;Img 
                src="./img/test1.jpg" 
                width="400" 
                height="100" 
                usePlaceholder={true} 
                placeholder={{
                  theme: 'lava',
                  size: 50
                }} /&gt; 
          .output


        section.example5
          h2 Global configuration
          p You can override the default settings for the <code>usePlaceholder</code> and <code>placeholder</code> properties for the component:
          pre.example
            code.language-js.
              Img.DEFAULT_PROPS.usePlaceholder = true;
              Img.DEFAULT_PROPS.placeholder = // etc.

          p.
            At this point all created instances of this component will 
            automatically use placeholders, though you can still override 
            this setting on per-instance basis.


    footer
      <a href="https://github.com/hiddentao/react-image-holder">Github</a> - <a href="https://twitter.com/hiddentao">Twitter</a>

    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(type="text/javascript", src="lib/prism/prism.js")
    script(type="text/javascript", src="js/app.js")
